langchain
openai
langchain-openai
langchain_huggingface
langchain-ollama
langchain_community
langchain_experimental
langchain-chroma
langchain-google-genai
langchain-google-vertexai
langchainhub
ollama
pinecone-client
chromadb
requests
tiktoken
docx2txt
pypdf
pandas
aiohttp
PyYAML
numpy
grandalf
duckduckgo-search
wikipedia
ddgs
langgraph
tavily-python
jq
rank_bm25
langchain-cohere
faiss-cpu
groq
langchain-groq
tabulate
yfinance
langchain_tavily
pytz