fastapi
uvicorn[standard]
python-multipart          
python-dotenv
pydantic

APScheduler

sqlalchemy
psycopg[binary]           
psycopg-pool

python-jose[cryptography] 
passlib[bcrypt]
bcrypt

pandas
yfinance
regex

langchain
langchain-core
langchain-groq
langchain-ollama
langchain-postgres
langchain-text-splitters
langchain-tavily

langgraph
langgraph-checkpoint-postgres   
langchain-google-genai