apscheduler==3.11.3
bcrypt
fastapi==0.141.1
langchain
langchain_core
langchain_google_genai
langchain_groq
langchain_postgres
langchain_tavily
langchain_text_splitters
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
pandas==3.0.5
passlib==1.7.4
psycopg==3.3.4
psycopg_pool==3.3.1
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pydantic==2.13.4
python-dotenv==1.2.2
python_jose==3.5.0
python-multipart
regex==2026.4.4
SQLAlchemy==2.0.52
uvicorn
yfinance==1.4.1
